<header>
    <nav>
        <a href="/">Top 5 Places</a>
        <ul>
            <li><a href="/places">Home</a></li>
            <li><a href="/places/new">Add Place</a></li>

        </ul>
    </nav>
</header>