<h2><%=  place.placeName %> </h2>
<a href="/places/<%= place.id %>/edit">Edit</a>
<form method="POST" action="/places/<%= place.id %>?_method=DELETE">
    <button type="submit">Delete</button>
</form>